@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p, ol, ul{
    font-weight: 300;
    line-height: 1.7em;
}

section{
    padding: 20px;
}

article{
    padding: 20px;
}

/*NAVIGATION*/
header nav{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo img{
    position: relative;
    padding-left: 50px;
    height: 50px;
    width: 130px;
}

header nav .navigation{
    position: relative;
    display: flex;
}

header nav .navigation li{
    list-style: none;
    margin-left: 0;
}

header nav .navigation li a{
    text-decoration: none;
    color: #111;
    font-size: 1.2em;
    padding: 10px;
}

header nav .navigation li a:hover{
    color: #ff0157;
}

/* BANNER */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/bg.png);
    background-size: cover;
}

.banner .intro{
    position: relative;
    max-width: 1000px;
}

.banner .intro h2{
    font-size: 2em;
    line-height: 1.4cm;
    font-weight: 500;
}

.banner .intro span{
    color: #ff0157;
    font-size: 1.1em;
}

/* MAIN */
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

/* HOME */
.home .content{
    padding-top: 50px;
}

.home .content h2{
    font-size: 2.2em;
    font-weight: 500;
}

.home .content p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

.home .content ol{
    font-size: 1em;
    padding: 10px;
    margin-left: 60px;
}

/* ABOUT */
.about .content{
    padding-top: 50px;
}

.about .content h2{
    font-size: 2.2em;
    font-weight: 500;
}

.about .content p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

/* SKILLS */
.skills .content{
    padding-top: 50px;
}

.skills .content h2{
    font-size: 2.2em;
    font-weight: 500;
}

.skills .content h3{
    font-weight: 500;
}

.skills .content p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

.skills .content ul{
    font-size: 1em;
    padding: 10px;
    margin-left: 60px;
    max-width: 900px;
}

/* SPECIALIST ROLES */
.specialist_roles .content{
    padding-top: 50px;
}

.specialist_roles .content h2{
    font-size: 2.2em;
    font-weight: 500;
}

.specialist_roles .content p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

/* UX-RESEARCHER */
.uxResearcher h3{
    font-weight: 500;
}

.uxResearcher p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

.uxResearcher .jobDescription{
    border: 2px solid black;
    padding: 3px;
    width: 100%;
    table-layout: fixed;
  }

.uxResearcher .jobDescription th{
    border: 2px solid black;
    padding: 5px;
    font-weight: 600;
    background-color: #ff0157;
    color: #fff;
  }

.uxResearcher .jobDescription td{
    border: 2px solid black;
    padding: 5px;
    font-weight: 300;
    line-height: 1.7em;
    height: 75px;
  }

/* UX-ARCHITECT */
.uxArchitect h3{
    font-weight: 500;
}

.uxArchitect p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

.uxArchitect .jobDescription{
    border: 2px solid black;
    padding: 3px;
    width: 100%;
    table-layout: fixed;
  }

.uxArchitect .jobDescription th{
    border: 2px solid black;
    padding: 5px;
    font-weight: 600;
    background-color: #ff0157;
    color: #fff;
  }

.uxArchitect .jobDescription td{
    border: 2px solid black;
    padding: 5px;
    font-weight: 300;
    line-height: 1.7em;
    height: 75px;
  }

/* UX-WRITER */
.uxWriter h3{
    font-weight: 500;
}

.uxWriter p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

.uxWriter .jobDescription{
    border: 2px solid black;
    padding: 3px;
    width: 100%;
    table-layout: fixed;
  }

.uxWriter .jobDescription th{
    border: 2px solid black;
    padding: 5px;
    font-weight: 600;
    background-color: #ff0157;
    color: #fff;
  }

.uxWriter .jobDescription td{
    border: 2px solid black;
    padding: 5px;
    font-weight: 300;
    line-height: 1.7em;
    height: 75px;
  }

  /* UX-ANALYST */
  .uxAnalyst h3{
    font-weight: 500;
}

.uxAnalyst p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

.uxAnalyst .jobDescription{
    border: 2px solid black;
    padding: 3px;
    width: 100%;
    table-layout: fixed;
  }

.uxAnalyst .jobDescription th{
    border: 2px solid black;
    padding: 5px;
    font-weight: 600;
    background-color: #ff0157;
    color: #fff;
  }

.uxAnalyst .jobDescription td{
    border: 2px solid black;
    padding: 5px;
    font-weight: 300;
    line-height: 1.7em;
    height: 75px;
  }

/* PRODUCT DESIGNER */
.productDesigner h3{
    font-weight: 500;
}
    
.productDesigner p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}
    
.productDesigner .jobDescription{
    border: 2px solid black;
    padding: 3px;
    width: 100%;
    table-layout: fixed;
}
    
.productDesigner .jobDescription th{
    border: 2px solid black;
    padding: 5px;
    font-weight: 600;
    background-color: #ff0157;
    color: #fff;
}
    
.productDesigner .jobDescription td{
    border: 2px solid black;
    padding: 5px;
    font-weight: 300;
    line-height: 1.7em;
    height: 75px;
}

/* UX-STRATEGIST */
.uxStrategist h3{
    font-weight: 500;
}
    
.uxStrategist p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}
    
.uxStrategist .jobDescription{
    border: 2px solid black;
    padding: 3px;
    width: 100%;
    table-layout: fixed;
}
    
.uxStrategist .jobDescription th{
    border: 2px solid black;
    padding: 5px;
    font-weight: 600;
    background-color: #ff0157;
    color: #fff;
}
    
.uxStrategist .jobDescription td{
    border: 2px solid black;
    padding: 5px;
    font-weight: 300;
    line-height: 1.7em;
    height: 75px;
}

/* DIFFERENCES/SEARCHING */
.differences_searching .content{
    padding-top: 50px;
}

.differences_searching .content h2{
    font-size: 2.2em;
    font-weight: 500;
    padding-bottom: 20px;
}

.differences_searching .content h3{
    font-weight: 500;
}

.differences_searching .content p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

/* FUTURE */
.future .content{
    padding-top: 50px;
}

.future .content h2{
    font-size: 2.2em;
    font-weight: 500;
    padding-bottom: 20px;
}

.future .content p{
    max-width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

/* COPYRIGHT CSS */
.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}

.copyrightText p{
    color: #333;
}

.copyrightText a{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

