	body {font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-weight: normal;
		margin: 75px;
		border: 100px;}
		
		h1 {font-size: 4em;
		}
	
		h2 {
			margin: 0.2em 0;
			font-size: 2em;
			font-weight: 200;
			border: 10px;
			color: rgb(0, 0, 0)
		}
		h4 {font-size: 1.5em;
			font-weight: normal;
			}
	
		h5 {font-size: 1em;
			font-weight: bold;

			
		}

		.grid-container {
			  display: grid;
			  grid-template-columns: 1fr 1fr;
			  gap: 10px;
			  background-color: #919191;
			  padding: 10px;
	}